<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://wwww.udemy.com">The complete Ruby on Rails Developer</a>
      by Isaac Aryee
    </small>
    <nav>
      <ul
      <li><%= link_to "About", about_path %></li>
    </nav>
  </footer>
</div>